<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for(:title) || "App" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= yield :head %>
        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/icon.png" type="image/png">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/icon.png">
        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <% if flash[:notice] %>
    <div class="container mx-auto p-6">  
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Succès!</strong>
          <span class="block sm:inline"><%= flash[:notice] %></span>
        </div>
      </div>
    <% end %>

     <div class="flex justify-end">
        <% if user_signed_in? %>
            <%= button_to destroy_user_session_path, method: :delete, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-gray-500 flex items-center gap-2 mr-8 mt-8" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-7.5A2.25 2.25 0 0 0 3.75 5.25v13.5A2.25 2.25 0 0 0 6 21h7.5a2.25 2.25 0 0 0 2.25-2.25V15m4.5-3h-12m12 0-3-3m3 3-3 3"/>
            </svg>
            Log out
            <% end %>
        <% end %>
        </div>
      <main class="w-50 mx-auto mt-28 px-5">
      <%= yield %>
     </main>
    </body>
</html>